In [180]:
# Mengimpor library yang dibutuhkan

import pandas as pd
import numpy as np

In [181]:
# Membuka file CSV
df = pd.read_csv('portugal_listinigs.csv')

/var/folders/k9/nnzmx38d2m3c0ss6cxfvf92r0000gn/T/ipykernel_15491/795134140.py:2: DtypeWarning: Columns (9,10,12,13,14,15,16,20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('portugal_listinigs.csv')

In [182]:
# Melihat dataset yang telah dimuat
df

,Price,District,City,Town,Type,EnergyCertificate,GrossArea,TotalArea,Parking,HasParking,...,Elevator,ElectricCarsCharging,TotalRooms,NumberOfBedrooms,NumberOfWC,ConservationStatus,LivingArea,LotSize,BuiltArea,NumberOfBathrooms
0,780000.0,Vila Real,Valpaços,Carrazedo de Montenegro e Curros,Farm,NC,200.0,552450.0,0.0,False,...,False,NaN,NaN,NaN,NaN,NaN,120.0,NaN,NaN,0.0
1,223000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,81.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,81.0,NaN,NaN,2.0
2,228000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,108.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,108.0,NaN,NaN,2.0
3,250000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,114.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,114.0,NaN,NaN,0.0
4,250000.0,Faro,São Brás de Alportel,São Brás de Alportel,Apartment,A+,NaN,114.0,1.0,True,...,True,NaN,2.0,NaN,NaN,NaN,114.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135531,130000.0,Setúbal,Palmela,Palmela,Land,NC,NaN,1189.0,0.0,NaN,...,False,False,NaN,NaN,0.0,NaN,NaN,1189.0,NaN,0.0
135532,45000.0,Viana do Castelo,Ponte de Lima,Labruja,House,NC,NaN,374.0,1.0,NaN,...,False,False,NaN,0.0,0.0,NaN,374.0,4370.0,NaN,0.0
135533,349900.0,Vila Real,Valpaços,Valpaços e Sanfins,House,F,NaN,188.0,1.0,NaN,...,False,False,NaN,3.0,1.0,NaN,190.0,18240.0,238.0,3.0
135534,50000.0,Vila Real,Alijó,Castedo e Cotas,House,NC,NaN,69.0,1.0,NaN,...,False,False,NaN,2.0,1.0,NaN,84.0,NaN,84.5,2.0
135535,35000.0,Vila Real,Valpaços,Algeriz,Land,NC,NaN,100.0,0.0,NaN,...,False,False,NaN,NaN,0.0,NaN,NaN,100.0,NaN,0.0

In [183]:
# Mengecek nama kolom pada dataset
df.columns

Index(['Price', 'District', 'City', 'Town', 'Type', 'EnergyCertificate',
       'GrossArea', 'TotalArea', 'Parking', 'HasParking', 'Floor',
       'ConstructionYear', 'EnergyEfficiencyLevel', 'PublishDate', 'Garage',
       'Elevator', 'ElectricCarsCharging', 'TotalRooms', 'NumberOfBedrooms',
       'NumberOfWC', 'ConservationStatus', 'LivingArea', 'LotSize',
       'BuiltArea', 'NumberOfBathrooms'],
      dtype='object')

In [184]:
# Menampilkan informasi dasar tentang dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135536 entries, 0 to 135535
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Price                  135236 non-null  float64
 1   District               135536 non-null  object
 2   City                   135536 non-null  object
 3   Town                   135534 non-null  object
 4   Type                   135520 non-null  object
 5   EnergyCertificate      135522 non-null  object
 6   GrossArea              27638 non-null   float64
 7   TotalArea              127153 non-null  float64
 8   Parking                135342 non-null  float64
 9   HasParking             68215 non-null   object
 10  Floor                  27929 non-null   object
 11  ConstructionYear       88021 non-null   float64
 12  EnergyEfficiencyLevel  67289 non-null   object
 13  PublishDate            29239 non-null   object
 14  Garage                 67289 non-null   object
 15  Elevator               135504 non-null  object
 16  ElectricCarsCharging   67289 non-null   object
 17  TotalRooms             73244 non-null   float64
 18  NumberOfBedrooms       47041 non-null   float64
 19  NumberOfWC             57256 non-null   float64
 20  ConservationStatus     19292 non-null   object
 21  LivingArea             104952 non-null  float64
 22  LotSize                39583 non-null   float64
 23  BuiltArea              26617 non-null   float64
 24  NumberOfBathrooms      128700 non-null  float64
dtypes: float64(12), object(13)
memory usage: 25.9+ MB

In [185]:
# Mengonversi kolom PublishDate ke tipe data datetime
df['PublishDate'] = pd.to_datetime(df['PublishDate'], errors='coerce')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135536 entries, 0 to 135535
Data columns (total 25 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Price                  135236 non-null  float64
 1   District               135536 non-null  object
 2   City                   135536 non-null  object
 3   Town                   135534 non-null  object
 4   Type                   135520 non-null  object
 5   EnergyCertificate      135522 non-null  object
 6   GrossArea              27638 non-null   float64
 7   TotalArea              127153 non-null  float64
 8   Parking                135342 non-null  float64
 9   HasParking             68215 non-null   object
 10  Floor                  27929 non-null   object
 11  ConstructionYear       88021 non-null   float64
 12  EnergyEfficiencyLevel  67289 non-null   object
 13  PublishDate            28779 non-null   datetime64[ns]
 14  Garage                 67289 non-null   object
 15  Elevator               135504 non-null  object
 16  ElectricCarsCharging   67289 non-null   object
 17  TotalRooms             73244 non-null   float64
 18  NumberOfBedrooms       47041 non-null   float64
 19  NumberOfWC             57256 non-null   float64
 20  ConservationStatus     19292 non-null   object
 21  LivingArea             104952 non-null  float64
 22  LotSize                39583 non-null   float64
 23  BuiltArea              26617 non-null   float64
 24  NumberOfBathrooms      128700 non-null  float64
dtypes: datetime64[ns](1), float64(12), object(12)
memory usage: 25.9+ MB

In [186]:
# Melihat jumlah duplikasi pada dataset
df.duplicated().sum()

np.int64(9011)

In [187]:
# Menghapus duplikasi pada dataset
df = df.drop_duplicates()
df.duplicated().sum()

np.int64(0)

In [188]:
# Melihat ringkasan statistik dari kolom numerik
df['Price'].agg(["min", "max", "mean", "std"])

min     1.000000e+00
max     1.380000e+09
mean    3.707856e+05
std     3.935295e+06
Name: Price, dtype: float64

In [189]:
# Filter Z-score
z = (df['Price'] - df['Price'].mean()) / df['Price'].std()

# Keep rows where TotalArea > 0 and zscore between -3 and 3, OR TotalArea is NaN
df = df[((df['Price'] > 0) & z.between(-3, 3)) | (df['Price'].isna())].copy()

df['Price'].agg(["min", "max", "mean", "std"])

min     1.000000e+00
max     1.200000e+07
mean    3.545302e+05
std     5.587419e+05
Name: Price, dtype: float64

In [ ]:
# Me;lihat nilai unik pada kolom District dan jumlah kemunculannya
df['District'].unique()
df['District'].value_counts()

District
Lisboa                  29890
Porto                   21175
Setúbal                 10821
Braga                   10606
Faro                     8018
Coimbra                  7309
Aveiro                   6840
Santarém                 6724
Leiria                   6698
Castelo Branco           4727
Viana do Castelo         3339
Évora                    2283
Vila Real                2162
Portalegre               1864
Guarda                   1450
Beja                     1267
Bragança                  823
Ilha de Santa Maria       249
Viseu                      55
Ilha de São Miguel         55
Ilha de Porto Santo        44
Ilha Terceira              40
Z - Fora de Portugal       25
Ilha da Madeira            16
Ilha de São Jorge           1
Ilha do Faial               1
Ilha das Flores             1
Name: count, dtype: int64

In [ ]:
# Melihat nilai unik pada kolom City dan jumlah kemunculannya
df['City'].unique()
df['City'].value_counts()

City
Lisboa                   8057
Sintra                   5308
Porto                    4924
Vila Nova de Gaia        3953
Cascais                  3075
                         ...
Velas                       1
Mortágua                    1
Cinfães                     1
Horta                       1
Santa Cruz das Flores       1
Name: count, Length: 275, dtype: int64

In [ ]:
# Melihat nilai unik pada kolom Town dan jumlah kemunculannya
df['Town'].unique()
df['Town'].value_counts()

Town
Paranhos                                                           1880
Cascais e Estoril                                                  1413
Albufeira e Olhos de Água                                          1201
Cedofeita, Santo Ildefonso, Sé, Miragaia, São Nicolau e Vitória    1004
Portimão                                                           1004
                                                                   ...
Amoreira, Parada e Cabreira                                           1
Santa Clara-a-Nova e Gomes Aires                                      1
Arrouquelas                                                           1
Romarigães                                                            1
Lamas de Orelhão                                                      1
Name: count, Length: 2263, dtype: int64

In [ ]:
# Melihat nilai unik pada kolom Type dan jumlah kemunculannya

df['Type'].unique()
df['Type'].value_counts()

Type
Apartment              43984
House                  34512
Land                   29468
Store                   5059
Farm                    3756
Building                2397
Transfer of lease       1588
Warehouse               1339
Garage                   885
Other - Commercial       764
Office                   695
Other - Residential      556
Industrial               400
Duplex                   371
Investment               219
Storage                  166
Hotel                    145
Studio                    66
Estate                    60
Mansion                   32
Manor                      6
Name: count, dtype: int64

In [ ]:
# Melihat nilai unik pada kolom EnergyCertificate dan jumlah kemunculannya
df['EnergyCertificate'].unique()
df['EnergyCertificate'].value_counts()

EnergyCertificate
NC                56374
C                 15763
D                 15047
E                 10537
A                  8861
F                  7240
B-                 4265
B                  4056
A+                 3843
G                   425
No Certificate       42
Not available        17
Name: count, dtype: int64

In [195]:
# Membersihkan kolom EnergyCertificate

df['EnergyCertificate'] = df['EnergyCertificate'].replace('Not available', np.nan)
df['EnergyCertificate'] = df['EnergyCertificate'].replace('No Certificate', 'NC')

# Melihat kembali kategori unik pada kolom EnergyCertificate setelah pembersihan
df['EnergyCertificate'].unique()
df['EnergyCertificate'].value_counts()

EnergyCertificate
NC    56416
C     15763
D     15047
E     10537
A      8861
F      7240
B-     4265
B      4056
A+     3843
G       425
Name: count, dtype: int64

In [ ]:
# Melihat nilai ringkasan statistik pada kolom GrossArea
df['GrossArea'].agg(["min", "max", "mean", "std"])

min    -7.000000e+00
max     1.275000e+07
mean    2.823406e+03
std     1.177244e+05
Name: GrossArea, dtype: float64

In [197]:
# Filter Z-score
z = (df['GrossArea'] - df['GrossArea'].mean()) / df['GrossArea'].std()

# Keep rows where TotalArea > 0 and zscore between -3 and 3, OR TotalArea is NaN
df = df[((df['GrossArea'] > 0) & z.between(-3, 3)) | (df['GrossArea'].isna())].copy()

df['GrossArea'].agg(["min", "max", "mean", "std"])

min          1.000000
max     338750.000000
mean      1097.550438
std       8732.586113
Name: GrossArea, dtype: float64

In [198]:
df['TotalArea'].agg(["min", "max", "mean", "std"])

min    -7.196067e+06
max     6.142007e+10
mean    5.501635e+05
std     1.785753e+08
Name: TotalArea, dtype: float64

In [199]:
# Z-score for TotalArea
z = (df['TotalArea'] - df['TotalArea'].mean()) / df['TotalArea'].std()

# Keep rows where TotalArea > 0 and zscore between -3 and 3, OR TotalArea is NaN
df = df[((df['TotalArea'] > 0) & z.between(-3, 3)) | (df['TotalArea'].isna())].copy()

df['TotalArea'].agg(["min", "max", "mean", "std"])

min     1.000000e+00
max     2.152000e+08
mean    1.463779e+04
std     1.068249e+06
Name: TotalArea, dtype: float64

In [200]:
# Mengecek rangkuman statistik pada kolom Parking
df['Parking'].agg(["min", "max", "mean", "std"])

min     0.000000
max     3.000000
mean    0.544562
std     0.838310
Name: Parking, dtype: float64

In [201]:
# Mengecek nilai unik pada kolom HasParking
df['HasParking'].unique()
df['HasParking'].value_counts()

HasParking
False    34865
True     28151
Name: count, dtype: int64

In [202]:
# Mengecek nilai unik pada kolom ConstructionYear
df['Floor'].unique()

array([nan, 'Ground Floor', '1st Floor', '2nd Floor', '3rd Floor',
       '4th Floor', 'Above 10th Floor', '5th Floor', 'Basement Level',
       '6th Floor', '9th Floor', '7th Floor', '8th Floor', 'Top Floor',
       'Duplex', 'Triplex', 'Attic', 'Basement', 'Mezzanine',
       'Service Floor'], dtype=object)

In [203]:
# Mengecek nilai unik pada kolom ConstructionYear
df['ConstructionYear'].unique()
df['ConstructionYear'].value_counts()

ConstructionYear
2023.0    5036
1937.0    4745
2024.0    4195
1951.0    3644
1988.0    2568
          ...
1914.0       2
1906.0       2
1907.0       1
1903.0       1
1915.0       1
Name: count, Length: 125, dtype: int64

In [ ]:
# Melihat kategori unik pada kolom EnergyEfficiencyLevel
df['EnergyEfficiencyLevel'].unique()

array([nan, 'F', 'NC', 'D', 'C', 'E', 'B-', 'B', 'A', 'A+', 'G',
       'No Certificate'], dtype=object)

In [213]:
# Membersihkan kolom EnergyCertificate

df['EnergyCertificate'] = df['EnergyCertificate'].replace('Not available', np.nan)
df['EnergyCertificate'] = df['EnergyCertificate'].replace('No Certificate', 'NC')

# Melihat kembali kategori unik pada kolom EnergyCertificate setelah pembersihan
df['EnergyCertificate'].unique()
df['EnergyCertificate'].value_counts()

EnergyCertificate
NC    55913
C     15615
D     14899
E     10441
A      8830
F      7207
B-     4203
B      4029
A+     3830
G       424
Name: count, dtype: int64

In [ ]:
# Melihat nilai unik pada kolom PublishDate
df['PublishDate'].unique()

<DatetimeArray>
[                       'NaT', '2024-10-18 16:35:08.843000',
 '2024-10-21 16:42:32.017000', '2024-10-18 10:53:03.927000',
 '2024-10-21 15:56:26.597000', '2024-10-18 16:05:58.430000',
 '2024-10-18 16:31:08.837000', '2024-10-17 13:08:54.590000',
 '2024-10-18 16:15:40.007000', '2024-10-17 11:54:17.097000',
 ...
 '2025-01-28 10:36:18.197000', '2025-01-28 15:38:21.460000',
 '2025-01-28 14:56:08.043000', '2025-01-28 12:10:37.080000',
 '2025-01-28 14:14:51.240000', '2025-01-28 15:39:51.247000',
 '2025-01-28 11:29:57.513000', '2025-01-28 17:30:12.923000',
 '2025-01-28 16:37:28.787000', '2024-04-24 16:34:56.563000']
Length: 27353, dtype: datetime64[ns]

In [ ]:
# Melihat nilai unik pada kolom Garage dan jumlah kemunculannya

df['Garage'].unique()
df['Garage'].value_counts()

Garage
False    51553
True     10822
Name: count, dtype: int64

In [ ]:
# Melihat nilai unik pada kolom Elevator dan jumlah kemunculannya

df['Elevator'].unique()
df['Elevator'].value_counts()

Elevator
False    95502
True     29889
Name: count, dtype: int64

In [ ]:
# Melihat nilai unik pada kolom ElectricCarsCharging dan jumlah kemunculannya
df['ElectricCarsCharging'].unique()
df['ElectricCarsCharging'].value_counts()

ElectricCarsCharging
False    56496
True      5879
Name: count, dtype: int64

In [ ]:
# Melihat nilai ringkasan statistik pada kolom NumberOfBedrooms
df['TotalRooms'].agg(["min", "max", "mean", "std"])

min        0.000000
max     2751.000000
mean       3.250052
std       10.879955
Name: TotalRooms, dtype: float64

In [ ]:
# Hanya Mengambil nilai diatas 0
df = df[(df['TotalArea'] > 0) | (df['TotalArea'].isna())].copy()

df['TotalRooms'].agg(["min", "max", "mean", "std"])

min        0.000000
max     2751.000000
mean       3.250052
std       10.879955
Name: TotalRooms, dtype: float64

In [ ]:
#Melihat nilai ringkasan statistik pada kolom NumberOfBedrooms
df['NumberOfBedrooms'].agg(["min", "max", "mean", "std"])

min      0.000000
max     21.000000
mean     2.675901
std      1.788647
Name: NumberOfBedrooms, dtype: float64

In [ ]:
# Melihat nilai ringkasan statistik pada kolom NumberOfWC

df['NumberOfWC'].agg(["min", "max", "mean", "std"])

min    -15.000000
max     59.000000
mean     0.434528
std      1.017991
Name: NumberOfWC, dtype: float64

In [ ]:
# Memberi hanya mengambil nilai diatas 0

df = df[(df['NumberOfWC'] > 0) | (df['NumberOfWC'].isna())].copy()

df['NumberOfWC'].agg(["min", "max", "mean", "std"])

min      1.000000
max     59.000000
mean     1.618174
std      1.387485
Name: NumberOfWC, dtype: float64

In [227]:
# Melihat nilai unik pada kolom ConservationStatus

df['ConservationStatus'].unique()
df['ConservationStatus'].value_counts()

ConservationStatus
New                 2843
Good condition      2522
Like new            1249
Used                 928
Needs renovation     682
Reasonable           347
Name: count, dtype: int64

In [228]:
# Melihat nilai ringkasan statistik pada kolom LivingArea
df['LivingArea'].agg(["min", "max", "mean", "std"])

min     0.000000e+00
max     2.396000e+06
mean    1.019159e+03
std     1.628211e+04
Name: LivingArea, dtype: float64

In [229]:
# Melihat nilai ringkasan statistik pada kolom LotSize

df['LotSize'].agg(["min", "max", "mean", "std"])

min     0.000000e+00
max     2.752500e+07
mean    1.570534e+04
std     3.907386e+05
Name: LotSize, dtype: float64

In [230]:
# Melihat nilai ringkasan statistik pada kolom BuiltArea
df['BuiltArea'].agg(["min", "max", "mean", "std"])

min     0.000000e+00
max     1.275000e+07
mean    3.206376e+03
std     1.316068e+05
Name: BuiltArea, dtype: float64

In [231]:
# Melihat nilai ringkasan statistik pada kolom NoOfBathrooms
df['NumberOfBathrooms'].agg(["min", "max", "mean", "std"])

min     -13.000000
max     131.000000
mean      1.759794
std       1.769380
Name: NumberOfBathrooms, dtype: float64

In [ ]:
# Hanya Mengambil nilai diatas 0
df = df[(df['NumberOfWC'] >= 0) | (df['NumberOfWC'].isna())].copy()

df['NumberOfWC'].agg(["min", "max", "mean", "std"])

min      1.000000
max     59.000000
mean     1.618174
std      1.387485
Name: NumberOfWC, dtype: float64

In [237]:
# Menghapus data yang tidak ada publish datenya
df = df[~df['PublishDate'].isna()].copy()

In [238]:
# Menyimpan dataset yang telah dibersihkan ke file CSV baru
df.to_csv("portugal_listinigs_clean2.csv", index=False)