
Live Code 4

Nama  : Kamelia Ramandha
Batch : CODA-RMT-010

Program ini dibuat untuk melakukan pengolahan data untuk membersihkan data OSN sebelum masuk fase analisa

In [30]:
# Mengimport library pandas
import pandas as pd

In [31]:
# Membuka file csv dari folder offline komputer
df = pd.read_csv('/Users/kramandha/Downloads/osn.csv')

df

,Unnamed: 0,Nama Peserta,Gender,Sekolah,Provinsi,Kab/Kota,Bidang,Jenjang Lomba,Jenjang Sekolah,Kelas,Medali,Prize Tambahan,Tahun
0,0,Gangsar Lintas Damai,L,MA Amanatul Ummah,Jawa Timur,Kota Surabaya,Biologi,SMA,SMA,11.0,Partisipan,NaN,2016
1,1,Muhammad Khairul Ihsan,L,MAN 1 Banda Aceh,Aceh,Kota Banda Aceh,Ekonomi,SMA,SMA,11.0,Partisipan,NaN,2021
2,2,Farhannur,L,MAN 1 Banda Aceh,Aceh,Kota Banda Aceh,Ekonomi,SMA,SMA,11.0,Emas,NaN,2022
3,3,Muhammad Fathoni,L,MAN 1 Banda Aceh,Aceh,Kota Banda Aceh,Fisika,SMA,SMA,11.0,Partisipan,NaN,2022
4,4,Rahmat MI,L,MAN 1 Banda Aceh,Aceh,Kota Banda Aceh,Kimia,SMA,SMA,11.0,Partisipan,NaN,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19322,19322,Fitri Julia Simamora,P,SMPN 4 Doloksanggul,Sumatera Utara,Kab. Humbang Hasundutan,Matematika,SMP,SMP,7.0,Partisipan,NaN,2024
19323,19323,Jonathan Kevin Aruan,L,SMPN 6 Sentajo,Riau,Kab. Kuantan Singingi,IPS,SMP,SMP,NaN,Partisipan,NaN,2016
19324,19324,Mely Winda Sihite,P,SMPN 4 Doloksanggul,Sumatera Utara,Kab. Humbang Hasundutan,Matematika,SMP,SMP,7.0,Partisipan,NaN,2024
19325,19325,Jelita Fazira,P,SMPN 4 Pantai Labu Satu Atap,Sumatera Utara,Kab. Deli Serdang,IPS,SMP,SMP,NaN,Partisipan,NaN,2021
19326,19326,Pether Kanisius Gajah,L,SMPN 4 Parlilitan,Sumatera Utara,Kab. Humbang Hasundutan,IPS,SMP,SMP,NaN,Partisipan,NaN,2020

In [32]:
# Melihat informasi data secara keseluruhan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19327 entries, 0 to 19326
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       19327 non-null  int64
 1   Nama Peserta     19327 non-null  object
 2   Gender           19327 non-null  object
 3   Sekolah          19327 non-null  object
 4   Provinsi         19327 non-null  object
 5   Kab/Kota         19327 non-null  object
 6   Bidang           19327 non-null  object
 7   Jenjang Lomba    19327 non-null  object
 8   Jenjang Sekolah  19327 non-null  object
 9   Kelas            14852 non-null  float64
 10  Medali           19327 non-null  object
 11  Prize Tambahan   221 non-null    object
 12  Tahun            19327 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 1.9+ MB

In [33]:
# Melihat jumlah data unik pada setiap kolom
df.nunique()

Unnamed: 0         19327
Nama Peserta       16057
Gender                 2
Sekolah             4166
Provinsi              39
Kab/Kota             488
Bidang                11
Jenjang Lomba          2
Jenjang Sekolah        2
Kelas                  5
Medali                 5
Prize Tambahan       110
Tahun                 16
dtype: int64

In [34]:
# Menghapus kolom Unnamed : 0 karena tidak diperlukan dan hanya menunjukan index, bukan id

df = df.drop(columns=['Unnamed: 0'])

In [35]:
# Melihat banyaknya data yang duplikat
df.duplicated().sum()

np.int64(0)

In [36]:
# Melihat data yang null
df.isnull().sum()

Nama Peserta           0
Gender                 0
Sekolah                0
Provinsi               0
Kab/Kota               0
Bidang                 0
Jenjang Lomba          0
Jenjang Sekolah        0
Kelas               4475
Medali                 0
Prize Tambahan     19106
Tahun                  0
dtype: int64

In [37]:
# Mengahpus data yang missing pada kolom kelas
df = df.dropna(subset=['Kelas'])

# Melihat kembali data yang null
df.isnull().sum()

Nama Peserta           0
Gender                 0
Sekolah                0
Provinsi               0
Kab/Kota               0
Bidang                 0
Jenjang Lomba          0
Jenjang Sekolah        0
Kelas                  0
Medali                 0
Prize Tambahan     14637
Tahun                  0
dtype: int64

Data nul pada prize tambahan tidak dihapus karena tidak semua partisipan mendapatkan prize tambahan. Jika dihapus nantinya akan memfilter data dan hanya menangkap data orang-orang yang memiliki prize tambahan

In [38]:
# Melihat dan menghitung data pada kolom Provinsi
df['Provinsi'].value_counts()

Provinsi
Jawa Tengah            1503
DKI Jakarta            1420
Jawa Timur             1393
Jawa Barat             1272
Banten                  847
DI Yogyakarta           687
Sumatera Utara          588
Riau                    532
Bali                    530
Sumatera Barat          523
Sulawesi Selatan        374
Sumatera Selatan        367
Lampung                 365
Jambi                   297
Kalimantan Barat        296
Kalimantan Timur        295
Aceh                    277
Nusa Tenggara Barat     252
Sulawesi Utara          240
Kepulauan Riau          232
Gorontalo               228
Kalimantan Selatan      209
Sulawesi Tengah         209
Sulawesi Tenggara       194
Bangka Belitung         181
Bengkulu                179
Kalimantan Tengah       176
Maluku                  175
Papua                   174
Nusa Tenggara Timur     170
Maluku Utara            166
Sulawesi Barat          161
Papua Barat             152
Kalimantan Utara         97
Luar Negeri              38
Papua Tengah             15
Papua Barat Daya         14
Papua Pegunungan         12
Papua Selatan            12
Name: count, dtype: int64

In [39]:
# Melihat dan menghitung data pada kolom Kab/Kota
df['Kab/Kota'].value_counts()

Kab/Kota
Kota Tangerang Selatan    502
Kota Pekanbaru            446
Kota Surabaya             415
Kota Yogyakarta           383
Kota Semarang             369
                         ...
Kab. Bombana                1
Kab. Seluma                 1
Kab. Aceh Jaya              1
Kab. Bima                   1
Kab. Langkat                1
Name: count, Length: 445, dtype: int64

In [40]:
# Melihat dan menghitung data pada kolom Bidang
df['Bidang'].value_counts()

Bidang
Matematika     2496
Fisika         1687
Biologi        1685
Informatika    1436
Kebumian       1423
Ekonomi        1405
Astronomi      1378
Kimia          1371
Geografi       1012
IPA             515
IPS             444
Name: count, dtype: int64

In [41]:
# Melihat dan menghitung data pada kolom jenjang lomba
df['Jenjang Lomba'].value_counts()

Jenjang Lomba
SMA    12325
SMP     2527
Name: count, dtype: int64

In [42]:
# Melihat dan menghitung data pada kolom jenjang sekolah
df['Jenjang Sekolah'].value_counts()

Jenjang Sekolah
SMA    11934
SMP     2918
Name: count, dtype: int64

Jenjang Lomba dan Jenjang Sekolah bisa berbeda, karena ada beberapa siswa SMP yang mengikuti jenjang lomba SMA, maka data tidak harus dibersihkan

In [43]:
# Mengecek data nama peserta karena ada kemungkinan duplikat
df['Nama Peserta'].value_counts()

Nama Peserta
Nicholas Eric Syuhendra           5
Muhammad Ikhsan (2)               5
Clifton Felix                     5
Syihabuddin Yahya Muhammad        5
Galih Rineksa                     5
                                 ..
Fauziyah Aulia Rachim             1
L. Muhammad Fadlul Hadi Wibawa    1
Ayusti Putri Hijriyanti           1
Yohanes P Nira                    1
Mely Winda Sihite                 1
Name: count, Length: 11582, dtype: int64

In [44]:
df[(df['Nama Peserta'] == 'Muhammad Ikhsan (1)')]

,Nama Peserta,Gender,Sekolah,Provinsi,Kab/Kota,Bidang,Jenjang Lomba,Jenjang Sekolah,Kelas,Medali,Prize Tambahan,Tahun
6854,Muhammad Ikhsan (1),L,SMAN 1 Padang,Sumatera Barat,Kota Padang,Kimia,SMA,SMA,11.0,Partisipan,NaN,2010

In [45]:
df[(df['Nama Peserta'] == 'Muhammad Ikhsan (2)')]

,Nama Peserta,Gender,Sekolah,Provinsi,Kab/Kota,Bidang,Jenjang Lomba,Jenjang Sekolah,Kelas,Medali,Prize Tambahan,Tahun
4098,Muhammad Ikhsan (2),L,SMA Kharisma Bangsa,Banten,Kota Tangerang Selatan,Biologi,SMA,SMA,11.0,Emas,NaN,2016
4124,Muhammad Ikhsan (2),L,SMA Kharisma Bangsa,Banten,Kota Tangerang Selatan,Biologi,SMA,SMA,10.0,Perak,NaN,2015
16666,Muhammad Ikhsan (2),L,SMPN 1 Padang,Sumatera Barat,Kota Padang,Biologi,SMA,SMA,9.0,Partisipan,NaN,2014
16667,Muhammad Ikhsan (2),L,SMPN 1 Padang,Sumatera Barat,Kota Padang,Biologi,SMP,SMP,7.0,Partisipan,NaN,2012
16669,Muhammad Ikhsan (2),L,SMPN 1 Padang,Sumatera Barat,Kota Padang,Biologi,SMP,SMP,8.0,Perak,NaN,2013

Terdapat beberapa siswa yang namanya muncul beberapa kali, namun setelah ditelaah, hal ini dikarenakan mereka mengikuti OSN lebih dari 1 kali dan bukan hasul data duplikat

In [46]:
# Menyimpan dataset yang telah dibersihkan ke file CSV
df.to_csv("osn_clean.csv", index=False)